@font-face {
	font-family: MyOutput;
	font-weight: normal;
	font-style: normal;
	src: url('PrintChar21.ttf') format('truetype');
}

* {
	margin: 0;
	padding: 0;
	outline: none;
	background: #000;
	font-family: 'MyOutput';
	font-size: 1em;
	color: #fff;
}

body {
	
}

#outer {
	display: flex;
	justify-content: center;
}

#output {
	resize: none;
	overflow: hidden;
	border: 0 none;
	display: block !important;
	width: 35em;
	min-width: 35em;
	height: 24em;
	background: transparent;
	font-family: 'MyOutput';
	color: #fff;
}

.input {
	resize: none;
	border: 0 none;
    width: 33em;
	display: block !important;
	background: transparent;
	font-family: 'MyOutput';
	color: #fff;
}
