@font-face {
	font-family: MyOutput;
	src: url('PrintChar21.ttf') format('truetype');
}

* {
	padding: 0;
	margin: auto;
	border: 0;

	--myFontSize: 2vw;
	
	font-family: MyOutput;
	font-size: max(var(--myFontSize), 16px);
}

div {
	height: 100vh;
	width: min(35em, 100vw);
	overflow: scroll;
}

input {

}
