@font-face {
	font-family: MyOutput;
	font-weight: normal;
	font-style: normal;
	src: url('PrintChar21.ttf') format('truetype');
}

body {
	background-color: black;
	color: white;
}

#outer {
	display: flex;
	justify-content: center;
}

#output {
	resize: none;
	overflow: scroll;
	border: 0 none;
	display: block;
	width: 35em;
	min-width: 35em;
	height: 24em;
	background: transparent;
	font-family: 'MyOutput';
}

input {
	resize: none;
	border: 0 none;
  width: 100%;
	display: block;
	background: transparent;
	font-family: 'MyOutput';
	font-size: 1em;
	color: inherit;
}
